RewriteEngine On

# Redirect trailing slashes
RewriteRule ^(.+)/$ /$1 [L,R=301]

# Send all non-file requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
